html{
    background-color: rgb(39, 39, 39);
}

header {
    text-align: center;
    color: lightgray;
    background-color: rgb(39, 39, 39);
    font-weight: bold;
    font-size: xx-large;
}

a#nav{
    text-decoration: none;
    color: lightgray;
}

a#InstagramInLine{
    text-decoration: none;
    color: rgb(184, 255, 255);
}

#nav{
    padding: 0.5px;
    color: lightgray;
    background-color: rgb(39, 39, 39);
}

section{
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(39, 39, 39);
    color: lightgray;
    text-align:center;
    font-size: large;
    padding: 10px;
}

p.Lorem{
    font-family: cursive;
    font-size: smaller;
}

.btn_social { 

    width:100%; 
    float:left; 
    display:flex; 
    margin:auto; 
   }
   
   .btn_social ul  { 
   
    width:auto; 
    margin:auto; 
    float:left; 
    display:block; 
   }
   
   .btn_social ul li  { 
   
    position:relative; 
    background:#555555; 
    list-style:none; 
    float:left; 
    margin:5px; 
    z-index:1; 
    overflow:hidden; 
    border-radius:3px; 
    font-size:1.5em; 
    text-align:center; 
   }
   
   .btn_social ul li a  { 
   
    max-width:50px; 
    max-height:50px; 
    line-height:35px; 
    display:block; 
    text-decoration:none; 
    color:#fff; 
    transition:.4s;
   
   }
   
   .btn_social ul li::before { 
   
    transition:0.4s; 
    position:absolute; 
    content:''; 
    width:100%; 
    height:100%; 
    top:90%; 
    left:0; 
    background:#ca2222; 
    z-index:-1; 
    transform: scale(1); 
    transition:.4s; 
   }
   
   .btn_social ul li:hover::before { transition:0.4s; top:0%; }
   .btn_social ul li a:hover       { color:#555555; }

img{
    max-width: 35px;
    max-height: 35px;
}